*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;

}
html{
    font-style: italic;
    font-size: 100%;
    
}
.title{
    background-color: chartreuse;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.preheading{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 27px;
    background-color: rgb(240, 25, 240);
    
    
}
.postheading{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 27px;
    background-color: rgb(240, 25, 240);

}
.friend{
    background: #5bca10;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 27px;
    background-color: rgb(240, 25, 240);


}

.container{
    background-color: rgb(201, 110, 24);
}

.container .heading{
    font-size: 3rem;
    padding: 2rem 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 .5rem 1rem #000;
    color: #fff;
}

.container .music-container{
    display: flex;
    align-items: center;
    flex-flow: column;
}
.container .music-container .box{
    height: 16rem;
    width: 80%;
    display: flex;
    align-items: center;
    background: #f9f9f9;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem #000;
    overflow: hidden;
    margin: 2rem;

}

.container .music-container .box .image{
    height: 100%;
    width: 25%
}

.container .music-container .box .image img{
    height: 100%;
    width: 100%
    

}

.container .music-container .box .music{
    width:100%;

}
.container .music-container .box .music audio{
    width:100%;
    outline: none;
} 
.container .music-container .box .music audio::-webkit-media-controls-eclosure{
    background: none;
} 

@media(max-width:600px){
    .container .music-container .box{
        height:27rem;
        width:90%;
        flex-flow: column;

    }
.container .music-container .box .image{
    height:80%;
    width:100%

}
.container .music-container .box .music{
    height:20%;
    width:100%
    
}
}
